# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Compilación
/bin/
/build/
/target/

# Archivos de clase
*.class

# IDEs
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Maven / Gradle
/logs/
/dependency-reduced-pom.xml
*.jar
*.war
*.ear

# Configuración del entorno
.env
*.swp
